body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    /* background-position: 100% 10%;*/
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

p {
    color:rgb(34, 34, 34)
}

.foto-principal{
    border: 5px solid #2c2b2b; /* shorthand */
    width: 200px;
    border-radius: 50%;
    margin: 30px;
    padding: 100px;
    /*
    border-width: 5px;
    border-color: black;
    border-style: solid;
    */
}